---
layout: default
title: Dacodex | Expertos en espacios de trabajo | Oficinas físicas, virtuales y administración
description: Renta de espacios de trabajo.
keywords: coworking, renta de oficinas, espacios de trabajo
---

{% include topbar.html %}
<div class="contact-container">
    <h2>Contacto</h2>
    <p class="subtitle">Cuéntanos cómo te podemos ayudar</p>
    <form action="https://formspree.io/f/xjvpwynz" method="POST">
        <div class="form-group">
            <label for="name">Nombre*:</label>
            <input type="text" placeholder="Ej Juan Carlos" class="form-control" id="name" aria-describedby="nameHelp" name="nombre" required>
        </div>

        <div class="form-group">
            <label for="phone">Teléfono*:</label>
            <input type="tel" placeholder="Ej 614 123 4567" class="form-control" id="phone" aria-describedby="emailHelp" name="telefono" required>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Correo electrónico*:</label>
            <input type="email" placeholder="Ej ejemplo@correo.com" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
        </div>

        <div class="form-group">
            <label for="message">Mensaje:</label>
            <textarea class="form-control" id="message" rows="3" name="message"></textarea>
        </div>
        
        <button type="submit" class="btn btn-cta">enviar</button>
    </form>

    <div class="contact-details">
        <h2>Llámanos o escríbenos</h2>
        <p>Envíanos un correo a <a href="mailto:ventas@dacodex.mx">ventas@dacodex.mx</a>,</p>
        <p>escríbenos a WhatsApp en <a href="mailto:ventas@dacodex.mx">(614) 247 6164</a></p>
        <p>o llámanos al <b>(614) 478 9000</b></p>
    </div>

</div>
{% include footer.html %}



