---
layout: default
title: Dacodex | Expertos en espacios de trabajo | Oficinas físicas, virtuales y administración
description: Renta de espacios de trabajo.
keywords: coworking, renta de oficinas, espacios de trabajo
---

{% include topbar.html %}
<div class="faqs-container">
    <h2>Preguntas frecuentes</h2>
    <div class="faqs-input-container">
        <input id="faqsInput" type="text" placeholder="Busca por palabras clave..">
    </div>
    <div id="faqsContent" class="faqsContent">
        <ul>
            <li class="faq-item">
                <p class="subtitle">¿Cuáles son los requisitos para hacer la contratación?</p>
                <p>Para Personas Físicas con o sin actividad empresarial copia de:</p>
                <ul class="inner-ul">
                    <li><p>Identificación oficial.</p></li>
                    <li><p>Comprobante de domicilio.</p></li>
                    <li><p>RFC.</p></li>
                    <li><p>Carátula bancaria (sin cantidades).</p></li>
                    <li><p>Depósito de renta.</p></li>
                </ul>
                <p>Para las Personas Morales copia de:</p>
                <ul class="inner-ul">
                    <li><p>Acta constitutiva.</p></li>
                    <li><p>Poderes del representante legal.</p></li>
                    <li><p>Identificación oficial del representante legal.</p></li>
                    <li><p>Comprobante de domicilio del representante legal.</p></li>
                    <li><p>RFC.</p></li>
                    <li><p>Depósito de renta.</p></li>
                </ul>
            </li>

            <li class="faq-item">
            <p class="subtitle">¿Las oficinas están disponibles para ocupación inmediata?</p>
            <p>Si, una vez que tengamos el contrato firmado y el depósito realizado puedes ocupar inmediatamente la oficina rentada.</p>
            </li>

            <li class="faq-item"><p class="subtitle">¿Qué servicio de Internet utilizan? ¿Está incluido en la tarifa mensual?</p>
            <p>Los Centros de Negocios Dacodex cuentas con internet dedicado de alta velocidad incluido en cualquiera de las tres
            modalidades de contratación: oficinas físicas, coworker y oficina virtual.</p>
            </li>

            <li class="faq-item"><p class="subtitle">¿Puedo contar con un lugar fijo para trabajar?</p>
            <p>Al contratar una oficina física o un espacio coworker en los centros de negocios Dacodex cuentas con un lugar propio
            y
            fijo para trabajar.</p></li>

            <li class="faq-item">
            <p class="subtitle">¿Tendré servicios como los de una secretaria propia?</p>
            <p>Nuestros asistentes en recepción contestan las llamadas para tu empresa y reciben a tus visitantes y correspondencia.
            </p>

            </li>

            <li class="faq-item"><p class="subtitle">¿Las oficinas privadas, coworker y virtuales funcionan 24 horas los 365 días del año?</p>
            <p>Así es, sin embargo el servicio el servicio de recepcion solo funciona de 09:00 hrs a 17:00 hrs. de Lunes a Viernes.
            </p></li>

            <li class="faq-item"><p class="subtitle">¿La contestación de la línea compartida y personalizada es por medio de una grabación?</p>
            <p>No, en los Business Centers Dacodex la contestación la realiza una asistente bilingüe en persona.</p></li>

            <li class="faq-item"><p class="subtitle">¿Para cuántas personas son sus salas de juntas?</p>
            <p>Contamos con salas de juntas desde 4 y hasta 12 personas.</p></li>

            <li class="faq-item"><p class="subtitle">¿Manejan el servicio de coffee break o catering?</p>
            <p>Si. El servicio se cotiza según sus requerimientos. No se permite introducir bebidas y alimentos a las salas de
            juntas
            y/o capacitación.</p></li>

            <li class="faq-item"><p class="subtitle">¿El uso del proyector y/o pantalla ya viene incluido en el costo de la sala de juntas?</p>
            <p>Si</p></li>

            <li class="faq-item">
            <p class="subtitle">¿Cómo me informan de la correspondencia que llega?</p>
            <p>Se le notifica por medio de un correo electrónico el día que se recibió la correspondencia.</p>

            </li>
            <li class="faq-item">
            <p class="subtitle">Si la correspondencia que llego me es urgente revisarla ¿cómo me apoyan?</p>
            <p>Tenemos dos opciones: se puede digitalizar el documento o bien se le puede hacer llegar con un propio. Este servicio
            tiene un costo adicional que se cotiza al momento de su requerimiento.</p>
            </li>
        </ul>
    </div>
</div>
{% include footer.html %}