---
layout: default
title: Dacodex | Expertos en espacios de trabajo | Oficinas físicas, virtuales y administración
description: Renta de espacios de trabajo.
keywords: coworking, renta de oficinas, espacios de trabajo
circle-left: 787px
circle-right: 1810px
---

{% include topbar.html %}
{% include cover.html %}
{% include pricing.html %}
{% include requirements.html %}
{% include additional-services.html %}
{% include admin-services.html %}
{% include locations.html %}
{% include call_to_action.html %}
{% include footer.html %}
{% include circle-left.html %}
{% include circle-right.html %}