---
layout: default
title: Dacodex | Expertos en espacios de trabajo | Oficinas físicas, virtuales y administración
description: Renta de espacios de trabajo.
keywords: coworking, renta de oficinas, espacios de trabajo
circle-left: 1487px
circle-right: 530px
---

{% include topbar.html %}
<div class="nosotros-container">
    <h2>¿Por qué nosotros?</h2>
    <p class="subtitle">Descubre lo que nos diferencía de otros Centros de Negocios.</p>
    <div class="nosotros-items-container">
        <div class="nosotros-item-1">
            <h2>Flexibilidad</h2>
            <div class="card">
                <p>Contratas lo que necesitas, por el tiempo que lo requieres.
                Tus costos fijos dejan de ser fijos.</p>
            </div>
        </div>
        <div class="nosotros-item-2">
            <h2>Diseño</h2>
            <div class="card">
                <p>Nuestros espacios agradables, modernos, cómodos, relajados y funcionales proyectan tu imagen profesional con tus
                clientes y apoyan tu productividad.</p>
            </div>
        </div>
        <div class="nosotros-item-1">
            <h2>Precio accesible</h2>
            <div class="card">
                <p>
                    Diseñamos nuestros centros de negocios para que todo te cueste lo menos posible. Mantén tus costos bajos con nuestros
                    precios accesibles.
                </p>
            </div>
        </div>
        <div class="nosotros-item-2">
            <h2>Ubicaciones estratégicas</h2>
            <div class="card">
                <p>
                    Desde nuestros centros de negocios transitas en menos de 10 min., en promedio, a los puntos importantes de la ciudad
                    utilizando vías rápidas.
                </p>
            </div>
        </div>

        <div class="nosotros-item-1">
            <h2>Amenidades</h2>
            <div class="card">
                <p>
                    Todas las amenidades que necesitas sin costo extra: acceso 24/7, internet dedicado de alta velocidad*, estacionamiento*,
                    oficinas climatizadas, cocina y barra de comida, café de cortesía*, servicio de recepcion y música ambiental.
                    * Protocolo Dacodex
                </p>
            </div>
        </div>
        <div class="nosotros-item-2">
            <h2>Seguridad</h2>
            <div class="card">
                <p>
                    CCTV, monitoreo, póliza de seguro, luces exteriores fotovoltaicas y más para tu seguridad en tu oficina.
                </p>
            </div>
        </div>
        <div class="nosotros-item-1">
            <h2>Ecológico</h2>
            <div class="card">
                <p>
                    Como tú, apoyamos el medio ambiente, por eso nuestras oficinas utilizan paneles solares, paredes y techos aislados,
                    luces inteligentes y más.
                </p>
            </div>
        </div>
        <div class="nosotros-item-2">
            <h2>Red de negocios</h2>
            <div class="card">
                <p>
                    Nuestra red de edificios, proveedores y usuarios extenderá un trato preferencial que te facilite conseguir tus
                    objetivos.
                </p>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
{% include circle-left.html %}
{% include circle-right.html %}