<div class="additional-services">
    <h2>Servicios adicionales</h2>
    <p class="subtitle">Para oficinas privadas, estaciones cowork y oficinas virtuales</p>
    <div class="additional-services-container">
        <div class="additional-services-item">
            <img class="mb-4" src="{{ site.baseurl }}/assets/images/settings_phone_24px.svg" />
            <p class="mb-2">Línea telefónica exclusiva</p>
            <p>Tecnología VOIP sin costo para llamadas nacionales, internacionales o a celular.</p>
        </div>
        <div class="additional-services-item">
            <img class="mb-4" src="{{ site.baseurl }}/assets/images/contact_phone_24px.svg" />
            <p class="mb-2">Servicio telefónico personalizado y buzón de voz</p>
            <p>Contestamos el teléfono con el nombre comercial de tu empresa; recibiendo, tomando y envíando mensajes.</p>
        </div>
    </div>
</div>