<div class="additional-services">
    <h2>Servicios adicionales</h2>
    <p class="subtitle">Para oficinas privadas, estaciones cowork y oficinas virtuales</p>
    <div class="additional-services-container">
        <div class="additional-services-item">
            <div class="icon icon-phone"></div>
            <p></p>
            <p></p>
        </div>
        <div class="additional-services-item">
            <div class="icon icon-person-phone"></div>
            <p></p>
            <p></p>
        </div>
    </div>
</div>