<div class="admin-services">
    <h2>Oficinas administradas</h2>
    <p class="subtitle">
        Delega la administración e inversión en las oficinas de tu compañía o asociate con Dacodex y pon a trabajar tu
        propiedad.
    </p>
    <div class="admin-services-item-left">
        <div class="left-content">
            <h3>Si buscas un socio que administre tus oficinas...</h3>
            <p>Dacodex pone a tu servicio su exitosa experiencia en administración de oficinas. Delega en Dacodex la administración e
            inversión en las oficinas de tu compañía.</p>
            <div class="row">
                <a href="{{site.baseurl}}/contacto" class="btn btn-cta mr-2">Contáctanos</a>
                <a href="{{ site.baseurl }}/assets/images/dacodex-logo-white.svg" class="btn btn-cta-outline" download>Descarga nuestro proceso</a>
            </div>
        </div>
        <div class="right-content">
            <div class="item-image" style="background-image: url('https://via.placeholder.com/762x762');"></div>
        </div>
    </div>
    <div class="admin-services-item-right">
        <div class="left-content left-desktop">
            <div class="item-image" style="background-image: url('https://via.placeholder.com/762x762');"></div>
        </div>
        <div class="right-content">
            <h3>Si tienes una propiedad y quieres establecer un Centro de Negocios...</h3>
            <p>En Dacodex encuentras el socio perfecto para poner a trabajar exitosamente tu propiedad inactiva transformándola en un
            Centro de Negocios.</p>
            <div class="row">
                <a href="{{site.baseurl}}/contacto" class="btn btn-cta mr-2">Asociate con nosotros</a>
                <a href="{{ site.baseurl }}/assets/images/dacodex-logo-white.svg" class="btn btn-cta-outline" download>Descarga nuestro proceso</a>
            </div>
        </div>
        <div class=" img-mobile">
            <div class="item-image" style="background-image: url('https://via.placeholder.com/762x762');"></div>
        </div>
    </div>
</div>