<div class="cover">
  <div class="left-content">
    <h1>Find products to sell located in México and the US.</h1>
    <p>
      <b>StackFeed</b>
      let's you find products, add them to your Shopify store and ship them
      directly to your customers
    </p>
    <a class="btn btn-action btn-lg" href="">Get Started</a>
  </div>
  <div class="right-content">
    <div class="slick-container">
      <div>
        <img
          src="{{ site.baseurl }}/assets/images/product-1.png"
          alt=""
          srcset=""
        />
      </div>

      <div>
        <img
          src="{{ site.baseurl }}/assets/images/product-1.png"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>
</div>
