<footer>
    <img class="footer-logo" src="{{ site.baseurl }}/assets/images/dacodex-logo-white.svg" alt="" srcset=""/>
    <div class="footer-container">
        <div class="footer-col">
            <a href="{{site.baseurl}}/">Inicio</a>
            <a href="{{site.baseurl}}/ubicaciones">Ubicaciones</a>
            <a href="{{site.baseurl}}/nosotros">¿Por què nosotros?</a>
        </div>
        <div class="footer-col">
            <a href="{{site.baseurl}}/contacto">Contacto</a>
            <a href="{{site.baseurl}}/faqs">Preguntas frecuentes</a>
            <a href="#" data-toggle="modal" data-target="#privacyModal">Aviso de privacidad</a>
        </div>
        <div class="footer-row">
            <a href="https://wa.me/526142476164" target="_blank" class="link">
                <img src="{{site.baseurl}}/assets/images/whatsapp-brands.svg">
                (614) 247 6164</a>
            <a href="tel:+526144789000">
                <img src="{{site.baseurl}}/assets/images/phone-alt-solid.svg">
                (614) 478 9000</p>
            <a href="mailto:ventas@dacodex.mx" target="_blank" class="link">
                <img src="{{site.baseurl}}/assets/images/envelope-regular.svg">
                ventas@dacodex.mx
            </a>
        </div>
    </div>
    <div class="social-links">
        <a class="social-link linkedin" href="https://www.linkedin.com/company/dacodex" target="_blank"></a>
        <a class="social-link facebook" href="https://www.facebook.com/dacodexmx" target="_blank"></a>
        <a class="social-link instagram" href="https://www.instagram.com/dacodex_cuu/" target="_blank"></a>
    </div>
    <p class="accent mt-3">Miembro de la Global Workspace Association</p>
    <img class="gwa" src="{{ site.baseurl }}/assets/images/gwa.png" />
</footer>


