<footer>
    <img class="footer-logo" src="{{ site.baseurl }}/assets/images/dacodex-logo-white.svg" alt="" srcset=""/>
    <div class="footer-container">
        <div class="footer-col">
            <a href="#">Inicio</a>
            <a href="#">Ubicaciones</a>
            <a href="#">¿Por què nosotros?</a>
        </div>
        <div class="footer-col">
            <a href="#">Contacto</a>
            <a href="#">Preguntas frecuentes</a>
            <a href="#" data-toggle="modal" data-target="#privacyModal">Aviso de privacidad</a>
        </div>
        <div class="footer-col">
            <p>WhatsApp: <a href="#" class="link">(614) 247 6164</a></p>
            <p>Tel: (614) 478 9000</p>
            <a mailto="ventas@dacodex.mx" class="link">ventas@dacodex.mx</a>
        </div>
    </div>
    <div class="social-links">
        <a class="social-link linkedin" href=""></a>
        <a class="social-link facebook" href=""></a>
        <a class="social-link instagram" href=""></a>
    </div>
    <p class="accent mt-3">Miembro de la Global Workspace Association</p>
    <img class="gwa" src="{{ site.baseurl }}/assets/images/gwa.png" alt="" srcset="" />
</footer>


