<div class="locations">
    <h2>Ubicaciones</h2>
    <div class="locations-container1">
        <div class="location-item">
            <h3>Pedro<br> Zuloaga</h3>
            <p>Av. Pedro Zuloaga 11602, Col. Labor de Terrazas, <b>Chihuahua</b>, Chih., CP 31223</p>
            <a href="https://goo.gl/maps/WFghYrdne61e9Bwn7" target="_blank" rel="noopener noreferrer">Ir al mapa</a>
        </div>
        <div class="location-item">
            <h3>Uruguay<br> 530</h3>
            <p>Uruguay 530, Col. Panamericana, <b>Chihuahua</b>, Chih., CP 31210</p>
            <a href="https://goo.gl/maps/axssAKDP144XUgPr6" target="_blank" rel="noopener noreferrer">Ir al mapa</a>
        </div>
        <div class="location-item">
            <h3>Manzaneros<br> 1920</h3>
            <p>Manzaneros 1920, Col. Sandra Lucia,
            <b>Cd. Juárez</b>, Chih., CP 32350</p>
            <a href="#" target="_blank" rel="noopener noreferrer">Ir al mapa</a>
        </div>
        <div class="location-item">
            <h3>Querétaro</h3>
            <p>Próximamente</p>
        </div>
    </div>
</div>