<div class="location-list-item">
    <div class="left-content">
        <h3>Manzaneros<br> 1918</h3>
        <p>Manzaneros 1918</p>
        <p>Col. Sandra Lucia</p>
        <p><b>Cd. Juárez</b>, Chih., CP 32530</p>

        <a href="https://goo.gl/maps/cBgMfqqnpTfFbe3E9" target="_blank" class="btn btn-cta">Ir al mapa</a>
    </div>
    <div class="right-content">
            <div class="slick-container">
                <div>
                    <img src="{{ site.baseurl }}/assets/images/manzaneros-1.png" alt="Dacodex - Manzaneros 1918" />
                </div>
                <div>
                    <img src="{{ site.baseurl }}/assets/images/manzaneros-2.png" alt="Dacodex - Manzaneros 1918" />
                </div>
                <div>
                    <img src="{{ site.baseurl }}/assets/images/manzaneros-3.png" alt="Dacodex - Manzaneros 1918" />
                </div>
                <div>
                    <img src="{{ site.baseurl }}/assets/images/manzaneros-4.png" alt="Dacodex - Manzaneros 1918" />
                </div>
            </div>
            <div class="slider-nav">
                    <img src="{{ site.baseurl }}/assets/images/manzaneros-1.png" alt="Dacodex - Manzaneros 1918" />
                    <img src="{{ site.baseurl }}/assets/images/manzaneros-2.png" alt="Dacodex - Manzaneros 1918" />
                    <img src="{{ site.baseurl }}/assets/images/manzaneros-3.png" alt="Dacodex - Manzaneros 1918" />
                    <img src="{{ site.baseurl }}/assets/images/manzaneros-4.png" alt="Dacodex - Manzaneros 1918" />
            </div>
    </div>
    <div class="map">
        <div class="iframe">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1236.8327921359396!2d-106.40790285714687!3d31.709233647154896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa1ef15cd701b0240!2sDacodex!5e0!3m2!1ses-419!2smx!4v1603927004269!5m2!1ses-419!2smx"
            width="100%" height="100%" frameborder="0" style="border:0; border-radius: 30px;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
    </div>
</div>
