<div class="pricing">
    <h2>Renta de oficinas privadas, estaciones cowork y oficinas virtuales</h2>
    <p class="subtitle">Conoce nuestros servicios</p>
    <div class="pricing-container">
        <div class="pricing-item">
            <p class="c-text">Desde</p>
            <h3 class="price c-primary">$4,590 por mes</h3>
            <p class="c-text mb-2">+ IVA</p>
            <h3 class="title">Oficina privada</h3>
            <p>Oficina privada amueblada</p>
            <p>Servicios (luz y agua)</p>
            <p>Servicio de limpieza*</p>
            <p>Climatizada</p>
            <p>Internet dedicado de alta velocidad*</p>
            <p>Estacionamiento*</p>
            <p>Sala de juntas**</p>
            <p>Áreas comunes (baños, cocina, sala)</p>
            <p>Domicilio comercial y fiscal</p>
            <p>Acceso 24/7 con tarjeta de proximidad</p>
        </div>
        <div class="pricing-item">
            <p class="c-text">Desde</p>
            <h3 class="price c-primary">$4,590 por mes</h3>
            <p class="c-text mb-2">+ IVA</p>
            <h3 class="title">Oficina privada</h3>
            <p>Oficina privada amueblada</p>
            <p>Servicios (luz y agua)</p>
            <p>Servicio de limpieza*</p>
            <p>Climatizada</p>
            <p>Internet dedicado de alta velocidad*</p>
            <p>Estacionamiento*</p>
            <p>Sala de juntas**</p>
            <p>Áreas comunes (baños, cocina, sala)</p>
            <p>Domicilio comercial y fiscal</p>
            <p>Acceso 24/7 con tarjeta de proximidad</p>
        </div>
        <div class="pricing-item">
            <p class="c-text">Desde</p>
            <h3 class="price c-primary">$4,590 por mes</h3>
            <p class="c-text mb-2">+ IVA</p>
            <h3 class="title">Oficina privada</h3>
            <p>Oficina privada amueblada</p>
            <p>Servicios (luz y agua)</p>
            <p>Servicio de limpieza*</p>
            <p>Climatizada</p>
            <p>Internet dedicado de alta velocidad*</p>
            <p>Estacionamiento*</p>
            <p>Sala de juntas**</p>
            <p>Áreas comunes (baños, cocina, sala)</p>
            <p>Domicilio comercial y fiscal</p>
            <p>Acceso 24/7 con tarjeta de proximidad</p>
        </div>
    </div>
</div>