<!-- Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aviso de privacidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>I. IDENTIDAD Y DOMICILIO DEL RESPONSABLE QUE TRATA LOS DATOS PERSONALES.</p>
                <p>Dos Barcas Capital S.A. de C.V. (en lo sucesivo “DACODEX”), con domicilio en Av. Pedro Zuloaga #11602, Colonia Labor de
                Terrazas, Chihuahua, Chihuahua., C.P. 31223 es el responsable del tratamiento y protección de tus datos personales. Hace
                de tu conocimiento que la información de nuestros clientes es tratada de forma estrictamente confidencial y al respecto
                señalamos lo siguiente:</p>
                <p>II. DATOS PERSONALES QUE SERÁN SOMETIDOS A TRATAMIENTO.</p>
                <p>DACODEX utilizara los siguientes datos personales de forma directa, a través de nuestros sitios de Internet, servicios
                en línea o por cualquier otra fuente que está permitida por la Ley Federal de Protección de Datos Personales en
                Posesiones de los Particulares (en lo sucesivo la “Ley”):</p>
                <p>1. Datos de identificación: nombre completo, dirección, teléfono de casa, celular y/o de trabajo, firma, RFC, CURP,
                lugar y fecha de nacimiento y edad.</p>
                <p>2. Datos laborales: ocupación, nombre de la empresa o dependencia, puesto, área o departamento, domicilio, teléfono,
                correo electrónico de trabajo, referencias laborales y referencias personales.</p>
                <p>3. Datos Patrimoniales: historial crediticio, cuentas bancarias, cualquier tipo de garantía otorgada, y servicios
                contratados.</p>
                <p>Conforme a lo anterior y conforme a lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de
                los Particulares (la “Ley”) y su Reglamento, DACODEX no tratará datos personales sensibles de tu persona.</p>
                <p>III. FINALIDADES DEL TRATAMIENTO.</p>
                <p>DACODEX utilizará tus Datos Personales para las siguientes finalidades:</p>
                <p>A. Originarias.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
