<!-- Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aviso de privacidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
<p>I. IDENTIDAD Y DOMICILIO DEL RESPONSABLE QUE TRATA LOS DATOS PERSONALES.
</p>
<p>Dos Barcas Capital S.A. de C.V. (en lo sucesivo “DACODEX”), con domicilio en Av. Pedro Zuloaga #11602, Colonia Labor
    de
    Terrazas, Chihuahua, Chihuahua., C.P. 31223 es el responsable del tratamiento y protección de tus datos personales.
    Hace
    de tu conocimiento que la información de nuestros clientes es tratada de forma estrictamente confidencial y al
    respecto
    señalamos lo siguiente:
</p>
<p>
    II. DATOS PERSONALES QUE SERÁN SOMETIDOS A TRATAMIENTO.
</p>

<p>DACODEX utilizara los siguientes datos personales de forma directa, a través de nuestros sitios de Internet,
    servicios
    en línea o por cualquier otra fuente que está permitida por la Ley Federal de Protección de Datos Personales en
    Posesiones de los Particulares (en lo sucesivo la “Ley”):
</p>
<p>1. Datos de identificación: nombre completo, dirección, teléfono de casa, celular y/o de trabajo, firma, RFC, CURP,
    lugar y fecha de nacimiento y edad.
</p>
<p>2. Datos laborales: ocupación, nombre de la empresa o dependencia, puesto, área o departamento, domicilio, teléfono,
    correo electrónico de trabajo, referencias laborales y referencias personales.
</p>
<p>3. Datos Patrimoniales: historial crediticio, cuentas bancarias, cualquier tipo de garantía otorgada, y servicios
    contratados.
</p>

<p>Conforme a lo anterior y conforme a lo establecido por la Ley Federal de Protección de Datos Personales en Posesión
    de
    los Particulares (la “Ley”) y su Reglamento, DACODEX no tratará datos personales sensibles de tu persona.
</p>

<p>III. FINALIDADES DEL TRATAMIENTO.
</p>

<p>DACODEX utilizará tus Datos Personales para las siguientes finalidades:
</p>

<p>A. Originarias.
</p>

<p>1. DACODEX tratará los datos personales con la finalidad de llevar a cabo las actividades y gestiones enfocadas al
    cumplimiento de las obligaciones originadas y derivadas de cualquier relación jurídica y comercial que establezcamos
    con
    motivo de la prestación de nuestros servicios; facturación; cobranza; servicio técnico y proporcionar, renovar,
    cambiar
    o cancelar los servicios que nos solicita, para el cumplimiento de leyes, reglamentos y disposiciones legales
    aplicables.
</p>

<p>B. Secundarias.
</p>

<p>1. Asimismo, DACODEX tratará datos personales para otras finalidades como enviar ofertas, avisos y/o mensajes
    promocionales; comunicaciones con fines de mercadotecnia, publicitarios o telemarketing sobre productos y servicios
    nuevos o existentes; realizar encuestas; estadísticas; estudios de mercado; participar en redes sociales, chats y/o
    foros de discusión; participar en eventos, trivias y concursos, evaluar la calidad de los servicios; y en general
    para
    cualquier actividad encaminada a promover, mantener, mejorar y evaluar nuestros servicios.
</p>

<p>IV. MECANISMOS PARA MANIFESTAR A DACODEX LA NEGATIVA AL TRATAMIENTO DE TUS DATOS PERSONALES PARA LA REALIZACIÓN DE
    FINALIDADES SECUNDARIAS.
</p>

<p>En caso de que no desees que tus Datos Personales sean tratados para las finalidades secundarias referidas en el
    párrafo
    III inmediato anterior, envía comunicación por escrito a la dirección de correo electrónico coordinador@dacodex.mx
    en la
    que solicites que DACODEX te facilite los formatos mediante los cuales podrás formalizar dicha negativa.
</p>


<p>Dicha negativa para el uso de tus Datos Personales no será motivo para que DACODEX te niegue los servicios y
    beneficios
    de la empresa.
</p>

<p>V. MEDIOS PARA EL EJERCER LOS DERECHOS ARCO.
</p>

<p>Tienes el derecho de: (i) acceder a tus Datos Personales que se encuentran en poder de DACODEX y conocer los detalles
    del tratamiento de los mismos, (ii) rectificarlos en caso de ser inexactos o incompletos, (iii) cancelarlos cuando
    consideres que no se requieren para alguna de las finalidades señaladas en el presente Aviso de Privacidad y estén
    siendo utilizados para finalidades no consentidas, o (iv) oponerte al tratamiento de los mismos para fines
    específicos,
    según lo establece la Ley.
</p>

<p>Para el ejercicio de tus Derechos ARCO, el Oficial de Protección de Datos Personales pone a disposición la Solicitud
    ARCO a través de la página de internet www.dacodex.com o bien mediante solicitud vía correo electrónico a la
    dirección
    coordinador@dacodex.mx. En dicha solicitud podrás encontrar los mecanismos a seguir para acreditar tu identidad o la
    de
    tu representante legal, así como la información y documentación que deberás acompañar a dicha solicitud.
</p>

<p>El procedimiento y requisitos para el ejercicio de estos derechos es el siguiente: el Oficial de Protección de Datos
    recibirá la Solicitud ARCO y dará respuesta con los motivos de su decisión mediante un correo electrónico en un
    plazo
    máximo de 20 (veinte) días hábiles contados desde el día en que se haya recibido tu Solicitud ARCO. En caso de que
    la
    Solicitud ARCO se conteste de manera afirmativa o procedente, los cambios solicitados se harán en un plazo máximo de
    15
    días hábiles siguientes a la fecha en que se haya comunicado la respuesta. El Oficial de Protección de Datos podrá
    notificarte dentro de los plazos referidos en este párrafo la prórroga de los mismos, por una sola vez, por un
    periodo
    igual al original.
</p>

<p>DACODEX, a través del Oficial de Protección de Datos, podrá negarte el acceso para que ejerzas tus Derechos ARCO en
    los
    supuestos que lo permita la Ley, por lo que deberá informarte el motivo de tal decisión por los medios y en los
    plazos
    señalados en el párrafo inmediato anterior. La negativa podrá ser parcial, en cuyo caso DACODEX efectuará el acceso,
    rectificación, cancelación u oposición en la parte procedente.
</p>

<p>El ejercicio de los Derechos ARCO será gratuito, pero si reiteras tu solicitud en un periodo menor a doce meses, los
    costos serán los correspondientes de 3 (tres) días de Salario Mínimo General Vigente en el Distrito Federal, más el
    Impuesto al Valor Agregado, a menos que existan modificaciones sustanciales al Aviso de Privacidad, que motiven
    nuevas
    Solicitudes ARCO. Así mismo, deberás de cubrir los gastos justificados de envío o el costo de reproducción en copias
    u
    otros formatos y, en su caso, el costo de la certificación de documentos.
</p>

<p>Los datos de contacto de la persona que dará tramite a las solicitudes para el ejercicio de los Derechos ARCO y la
    solicitud para limitar el uso o divulgación de tus Datos Personales, así como atender cualquier duda que pudiera
    tener
    respecto al tratamiento de la información son los siguientes: Oficial de Protección de Datos, número telefónico
    (614)
    478 90 00, correo electrónico coordinador@dacodex.mx.
</p>

<p>Formato pdf para ejercer los derechos Arco.
</p>

<p>VI. MEDIOS PARA REVOCAR EL CONSENTIMIENTO PARA EL TRATAMIENTO DE DATOS PERSONALES.
</p>

<p>Podrás revocar el consentimiento para el tratamiento de tus Datos Personales. Sin embargo, es importante que tengas
    en
    cuenta que no en todos los casos podremos atender de conformidad tu solicitud, ya que es posible que por alguna
    obligación legal requiramos seguir tratando tus Datos Personales. Asimismo, deberás considerar que para ciertos
    fines,
    la revocación de tu consentimiento implicará que no podamos seguirte prestando alguno de nuestros servicios.
</p>

<p>Para solicitar la revocación del consentimiento deberás enviar un correo electrónico a la dirección
    coordinador@dacodex.mx la solicitud para la revocación del consentimiento, misma en la que encontrarás los
    mecanismos a
    seguir para acreditar tu identidad o la de tu representante legal, así como la información y documentación que
    deberás
    acompañar a dicha solicitud.
</p>

<p>El Oficial de Protección de Datos recibirá la solicitud de revocación del consentimiento y dará respuesta en un plazo
    máximo de 20 (veinte) días contados desde la fecha en que se recibió la citada solicitud. Si ésta resulta
    procedente, se
    hará efectiva la misma dentro de los 15 (quince) días siguientes a la fecha en que se te comunique la respuesta vía
    correo electrónico. Los plazos antes referidos podrán ser ampliados una sola vez por un periodo igual, siempre y
    cuando
    así lo justifiquen las circunstancias del caso.
</p>
<p>VII. MEDIOS PARA LIMITAR EL USO O DIVULGACIÓN DE TUS DATOS PERSONALES.
</p>
<p>Podrás limitar el uso y divulgación de tu información personal para lo cual DACODEX ofrece los siguientes medios: (i)
    Requerir la inscripción en el Registro Público para Evitar Publicidad (REPEP), que está a cargo de la Procuraduría
    Federal del Consumidor, con la finalidad de que tus datos personales no sean utilizados para recibir publicidad o
    promociones de empresas de bienes o servicios. Para mayor información sobre este Registro, puedes consultar el
    portal de
    Internet de la PROFECO http://repep.profeco.gob.mx/index.jsp, o bien ponerte en contacto directo con ésta; (ii)
    Requerir
    vía correo electrónico a la siguiente dirección coordinador@dacodex.mx la Solicitud para Limitar Uso o Divulgación
    de
    Datos Personales, o bien. En dicha solicitud podrás encontrar los mecanismos a seguir para acreditar tu identidad o
    la
    de tu representante legal, así como la información y documentación que deberás acompañar a dicha solicitud.
</p>
<p>Todas las solicitudes serán analizadas para resolver sobre su procedencia o no. La resolución será enviada a tu
    atención, a entera discreción del responsable, mediante correo electrónico o al domicilio indicado en la Solicitud
    para
    Limitar Uso o Divulgación de Datos Personales dentro del término de 20 (veinte) días hábiles siguientes contados a
    partir de la fecha de recepción de la Solicitud. De ser procedente, dicha resolución será efectiva dentro de los 15
    (quince) días hábiles siguientes a la fecha en que sea comunicada al titular. Los plazos anteriores podrán ampliarse
    por
    un período igual, según sea el caso, cuando las circunstancias así lo justifiquen.
</p>
<p>VIII. TRANSFERENCIA DE DATOS PERSONALES
</p>
<p>Tus datos personales podrán ser transferidos y tratados dentro y fuera del país por personas distintas a DACODEX. En
    este sentido, tu información puede ser transferida (remitida) a nuestras sociedades controladoras, afiliadas y
    proveedores a efecto de dar cumplimiento con las finalidades señaladas en este Aviso de Privacidad.
</p>
<p>IX. CAMBIOS EN EL AVISO DE PRIVACIDAD.
</p>
<p>El presente Aviso de Privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos
    requerimientos legales, de nuestras propias necesidades, y de nuestras prácticas de privacidad.
    DACODEX se compromete a mantenerte informado sobre los cambios que pueda sufrir el presente Aviso de Privacidad, a
    través de uno o varios de los siguientes medios:
</p>

<p>1. Anuncios visibles en nuestras oficinas ubicadas en Av. Pedro Zuloaga #11602, Colonia Labor de Terrazas, Chihuahua,
    Chihuahua., C.P. 31223
</p>
<p>2. Trípticos o folletos disponibles en nuestras oficinas ubicadas en la dirección citada en el numeral anterior.
</p>
<p>3. En la página de internet www.dacodex.mx Sección “Aviso de Privacidad”.
</p>
<p>4. Vía telefónica al último número de casa, oficina o celular que nuestros clientes nos hayan proporcionado.
</p>

<p>SOLICITUD PARA EL EJERICICO DE LOS DERECHOS “ARCO”
</p>

<p>(Acceso, Rectificación, Cancelación u Oposición de datos personales)
</p>
<p>Folio No._____ Fecha de solicitud:_______
</p>
<p>DERECHO QUE SE DESEA EJERCER
</p>
<p>1) Acceso___ 2) Rectificación___ 3) Cancelación___ 4) Oposición___
</p>

<p>DATOS DEL TITULAR DE LOS DATOS PERSONALES
</p>
<p>Nombre:
</p>
<p>_________________________________
</p>
<p>Apellido Paterno Apellido Materno Nombre (s)
</p>
<p>Domicilio:
</p>
<p>_________________________________
</p>
<p>Calle No. Exterior No. Interior Colonia C.P.
</p>
<p>Correo electrónico:_____________Teléfono:______________
</p>
<p>LA PRESENTE SOLICITUD DEBERÁ SER ACOMPAÑADA DE UNA COPIA DE LA IDENTIFICACIÓN OFICIAL VIGENTE DEL TITULAR DE LOS
    DATOS
    PERSONALES.
</p>

<p>DATOS DEL REPRESENTANTE LEGAL (EN SU CASO)
</p>

<p>Nombre:
</p>
<p>_________________________________
</p>
<p>Apellido Paterno Apellido Materno Nombre (s)
</p>
<p>DEBERÁ ACOMPAÑAR A LA SOLICITUD UNA COPIA DE LA IDENTIFICACIÓN OFICIAL VIGENTE DEL REPRESENTANTE LEGAL, ASÍ COMO
    INSTRUMENTO PÚBLICO EN EL QUE CONSTE LA REPRESENTACIÓN Y/O CARTA PODER FIRMADA ANTE DOS TESTIGOS.
</p>


<p>DESCRIPCIÓN DEL DERECHO QUE DESEA EJERCER
</p>
<p>Describir de forma clara y precisa el derecho que se desea ejercer sobre los datos personales así como otros
    elementos o
    documentos que faciliten la localización de sus datos. En el caso de revocación del consentimiento deberá indicar si
    es
    total o parcial; en caso de ser del segundo tipo, se deberá indicar cuál o cuáles tratamientos son aquéllos con los
    que
    el titular no está conforme.
</p>

<p>_________________________________
</p>
<p>_________________________________
</p>
<p>_________________________________
</p>
<p>_________________________________
</p>
<p>_________________________________
</p>
<p>MEDIO PARA DAR RESPUESTA A SU SOLICITUD
</p>
<p>Correo electrónico___ Correo certificado (con costo)__ Mensajería (con costo)__
</p>

<p>_____________ _____________
</p>

<p>Nombre y Firma del Titular Nombre y Firma del Representante Legal
</p>

<p>INFORMACIÓN IMPORTANTE
</p>


<p>DERECHO DE ACCESO
</p>

<p>Aquel derecho que se tiene a ser informado sobre los datos personales objeto de tratamiento.
</p>
<p>De ser posible, es recomendable aportar cualquier información o documento que facilite la localización de sus datos
    personales
</p>

<p>DERECHO DE RECTIFICACIÓN
</p>

<p>Aquel derecho que se tiene a que los datos personales sean corregidos. Aplica cuando los datos son incorrectos,
    imprecisos, incompletos o están desactualizados.
</p>
<p>Es necesario especificar los datos que se desea sean rectificados, así como aportar los documentos probatorios
    necesarios.
</p>

<p>DERECHO DE CANCELACIÓN
</p>
<p>Aquel derecho que se tiene a que sus datos sean cancelados de las bases de datos y así dejen de ser tratados. Los
    datos
    serán bloqueados y, posteriormente, suprimidos de las bases de datos.
</p>
<p>Esta solicitud procede cuando la información personal ya no es necesaria para las actividades para las que fueron
    recabados los datos personales y no procederá cuando los datos deban ser conservados durante los plazos previstos en
    las
    disposiciones legales aplicables o en las relaciones contractuales existentes.
</p>


<p>DERECHO DE OPOSICIÓN
</p>
<p>Aquel derecho que se tiene a que la empresa se abstenga de tratar los datos personales para determinadas situaciones.
</p>
<p>Es necesario especificar las razones legítimas por las cuales se opone al tratamiento.
</p>

<p>COSTO
</p>
<p>El ejercicio de los derechos ARCO es gratuito y únicamente se deberá cubrir el costo por reproducción en copias u
    otros
    formatos. En caso de que se vuelva ejercer cualquiera de los derechos en un plazo menor a doce meses, el costo no
    podrá
    exceder del equivalente a tres días de salario mínimo general vigente en el Distrito Federal.
</p>

<p>REQUERIMIENTO DE ACLARACIÓN DE SOLICITUD
</p>
<p>Si los datos que nos proporcionó son erróneos, incompletos o no son claros, en un término de 5 días hábiles le
    requeriremos que la complemente o aclare; usted contará con 10 días hábiles para atender el requerimiento de
    información
    adicional, de lo contrario se tendrá por no presentada la solicitud y será considerada como improcedente.
</p>

<p>PLAZOS DE ATENCIÓN A SU SOLICITUD
</p>
<p>El plazo para que le comuniquemos una respuesta es de 20 días hábiles, el cual podrá ampliarse por una sola vez por
    causa justificada. La justificación de la ampliación se le notificará dentro del mismo plazo contado a partir del
    día en
    que se recibe la solicitud.
</p>
<p>Si su solicitud es procedente se hará efectivo su derecho ARCO dentro de los 15 días hábiles siguientes a la fecha de
    la
    respuesta. Este plazo podrá ampliarse por una sola vez por causa justificada. La justificación de la ampliación se
    le
    notificará dentro del mismo plazo.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
