<div class="requirements">
    <h2>Requisitos para renta</h2>
    <div class="left-content">
        <p class="subtitle">
            Puedes enviar los documentos digitalmente a <a href="mailto:coordinador@dacodex.mx">coordinador@dacodex.mx</a> o presenta una copia simple en la ubicación donde
            busques rentar.
        </p>
    </div>
    <div class="right-content">
        <div class="card">
            <ul>
                <li><p>Acta constitutiva (si el contratante es persona moral)</p></li>
                <li><p>Poderes del representante legal (si el contratante es persona moral)</p></li>
                <li><p>Cédula de identificación fiscal</p></li>
                <li><p>Identificación oficial</p></li>
                <li><p>Comprobante de domicilio</p></li>
                <li><p>Carátula bancaria CLABE (sin cantidades)</p></li>
                <li><p>Depósito de garantía de un mes de renta</p></li>
            </ul>
        </div>
    </div>
</div>