<div class="topbar">
    <div class="logo"></div>
    <div class="nav">
        <a {% if page.url == '/' %} class="btn-link active" {% endif %} class="btn-link" href="{{site.baseurl}}/">Inicio</a>
        <a {% if page.url == '/ubicaciones.html' %} class="btn-link active" {% endif %} class="btn-link" href="{{site.baseurl}}/ubicaciones">Ubicaciones</a>
        <a {% if page.url == '/nosotros.html' %} class="btn-link active" {% endif %} class="btn-link" href="{{site.baseurl}}/nosotros">¿Por qué nosotros?</a>
        <a {% if page.url == '/faqs.html' %} class="btn-link active" {% endif %} class="btn-link" href="{{site.baseurl}}/faqs">Preguntas frecuentes</a>
        <a href="{{site.baseurl}}/contacto" class="btn btn-cta-outline ml-4" href="">Contáctanos</a>
    </div>
</div>