<head>
    <meta charset="UTF-8"><meta name="description" content="Dacodex - Centro de Negocios - Oficinas privadas en renta">
    <meta content="width=device-width" name="viewport">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="keywords" content="Centro de Negocios Chihuahua, Centro de Negocios Cd. Juarez, Oficinas privadas en renta Chihuahua, Oficinas privadas en renta Cd. Juarez, Oficinas Amuebladas en renta Chihuahua, Oficinas Amuebladas en renta Cd. Juarez, Oficinas Flexibles en renta Chihuahua, Oficinas Flexibles en renta Cd. Juarez, Oficinas Virtuales en renta Chihuahua, Oficinas Virtuales en renta Cd. Juarez, Oficinas compartidas Chihuahua, Oficinas compartidas Juarez, Oficinas Ejecutivas en renta Chihuahua, Oficinas Ejecutivas en renta Cd. Juarez, Renta de oficinas en Chihuahua, Renta de oficinas en Cd. Juarez, Renta de oficinas equipadas Chihuahua, Renta de oficinas equipadas Cd. Juarez, Renta de Oficinas Chihuahua, Renta de Oficinas Cd. Juarez, Oficinas virtuales Chihuahua, Oficinas Virtuales Cd. Juarez">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/slick/slick.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/slick/slick-theme.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
    <title>{{ page.title }}</title>
</head>